---
import Link from "./Link.astro";

const { prevUrl, nextUrl } = Astro.props;
---

<nav aria-label="Blog pages">
  {
    prevUrl && (
      <Link text="prev" href={prevUrl} style="primary" borderVisible={true} isFilled={false} />
    )
  }
  {
    nextUrl && (
      <Link text="next" href={nextUrl} style="primary" borderVisible={true} isFilled={false} />
    )
  }
</nav>
